<!DOCTYPE html>
<html>
    <% include templates/head.ejs %>

    <body class="body-background">
        <% var numberOfPollutants = data.pollutants.length; %>
        <% var currentFeature = Math.floor(day/(366/numberOfPollutants)); %>
        <% include templates/header-big.ejs %>
        <div class="container-fluid" style="margin-bottom: 2em;">
            <div class="row">
                <div class="col-12 text-center" style="margin-top: 2em;">
                    <div style="padding-bottom: 1em">
                        <h2>Pollutant of the Week</h2>
                    </div>
                    <img src="<%= data.pollutants[currentFeature].featureImg %>" class="mx-auto d-block img-fluid"></img>
                </div>

                <div class="col-12">
                    <article class="middle-long-text">
                        <p>
                            pH stands for 'potential of hydrogen' and is used to measure how acidic or alkaline a substance is on a scale of 0-14. Freshwater and marine waterways become stressed if their pH levels fluctuate to much. This can have an
                            impact on animals that live in these waterways as they struggle to tolerate changes to these pH levels.
                        </p>
                        <p>
                            <strong>Some things you can do:</strong>
                        </p>
                        <p>
                            Be careful how you dispose of acidic or alkaline substances. This includes monitoring for acid sulphate soils when doing major earthworks.
                        </p>
                    </article>
                </div>

                <div class="col-12" style="margin-top: 2em">
                    <div class="row" style="height: 100%">
                        <div class="col-md-12" style="margin-bottom: 4em;">
                            <div style="padding-bottom: 1em">
                                <h2 class="text-center">Events/News</h2>
                            </div>
                            <table class="table table-hover">
                                <tbody>
                                    <% for(var i = 0; i < data.events.length; i++){ %>
                                    <tr>
                                        <td class="align-middle">
                                            <a href="<%= data.events[i].url %>" style="color: inherit">
                                                <div class="row text-center">
                                                    <div class="col-md-12">
                                                        <h3>
                                                            <%= data.events[i].title %>
                                                        </h3>
                                                    </div>
                                                    <div class="col-md-12">

                                                        <%= data.events[i].date %>
                                                    </div>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="<%= data.events[i].url %>" style="color: inherit">
                                                <%= data.events[i].description %>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }; %>
                                </tbody>
                            </table>
                        </div>

                        <% include templates/caseStudies.ejs %>

                    </div>
                </div>
            </div>
            <div class="row" style="margin: 5em;">
                <div class="col-12 text-center" style="margin-bottom: 4em;">
                    <h2 class="text-center">Information for schools</h2>
                    <p>Download our free resources.</p>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-3 colour-over" style="padding: 0; margin-bottom: 0; box-shadow: 0 0px 0.5em 0.5em rgba(0, 0, 0, .5);">
                    <div>
                        <img style="padding: 0" class="mx-auto d-block img-fluid" src="/info-for-schools/poster.png"></img>
                    </div>
                    <div class="text-wrap">
                        <h3>Poster</h3>
                    </div>
                    <div class="text-wrap-2">
                        <a href="/info-for-schools/MTP-Poster.pdf"><button class="btn-primary btn-xlarge">download</button></a>
                    </div>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-3 colour-over" style="padding: 0; margin: 0; box-shadow: 0 0px 0.5em 0.5em rgba(0, 0, 0, .5);">
                    <div>
                        <img style="padding: 0" class="mx-auto d-block img-fluid" src="/info-for-schools/infoForSchools.png"></img>
                    </div>
                    <div class="text-wrap">
                        <h3>Info-Kit</h3>
                    </div>
                    <div class="text-wrap-2">
                        <a href="/info-for-schools/MTP-InfoPack.pdf"><button class="btn-primary btn-xlarge">download</button></a>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-12 text-center" style="margin-bottom: 4em;">
                    <h2 class="text-center">Merchandise</h2>
                    <p>Support our campaign by purchasing from our range of stickers, mugs, t-shirts and artwork. All proceeds to be reinvested in our pollutant <a href="https://hlw.org.au/project/clean-up-program/">Clean Up projects.</a></p>
                </div>
                <div style="margin-bottom: 3em;" class="col-xl-12">
                    <iframe id="merch" src="https://www.redbubble.com/people/waterbydesign/external-portfolio?count=7" width="100%" height="329" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
                </div>
                <div class="col-12 text-center" style="margin-bottom: 4em;">
                    <h3>Thank you for supporting us ❤️</h3>
                    <h3>For more information, please get in touch.</h3>
                </div>
            </div>
        </div>
        <% include templates/footer-big.ejs %>
        <% include templates/footer.ejs %>

        <script>
            window.addEventListener("resize", executeResize);
            window.addEventListener('DOMContentLoaded', executeResize);

            function executeResize() {
                var width = $(document).width();
                var merch = document.getElementById("merch");
                if (width >= 1830) {
                    merch.height = "300";
                } else if (width >= 1110) {
                    merch.height = "500";
                } else if (width >= 870) {
                    merch.height = "715";
                } else if (width >= 630) {
                    merch.height = "950";
                } else {
                    merch.height = "1600";
                }
                console.log(width);
            }
        </script>
    </body>

</html>