<!DOCTYPE html>
<html>
    <% include templates/head.ejs %>

    <body class="body-background">
        <% var numberOfPollutants = data.pollutants.length; %>
        <% var currentFeature = day%numberOfPollutants; %>
        <% include templates/header-big.ejs %>
        <div class="container-fluid" style="margin-bottom: 2em;">
            <div class="row">
                <div class="col-xl-6 text-center" style="margin-top: 2em;">
                    <div style="padding-bottom: 1em">
                        <h2>Featured Pollutant</h2>
                    </div>
                    <img src="<%= data.pollutants[currentFeature].featureImg %>" class="mx-auto d-block img-fluid"></img>
                </div>

                <div class="col-xl-6" style="margin-top: 2em">
                    <div class="row" style="height: 100%">
                        <div class="col-md-12">
                            <div style="padding-bottom: 1em">
                                <h2 class="text-center">Events/News</h2>
                            </div>
                            <table class="table table-hover">
                                <tbody>
                                    <% for(var i = 0; i < data.events.length; i++){ %>
                                    <tr>
                                        <td class="align-middle">
                                            <a href="<%= data.events[i].url %>" style="color: inherit">
                                                <div class="row text-center">
                                                    <div class="col-md-12">
                                                        <h5>
                                                            <%= data.events[i].title %>
                                                        </h5>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <sub>
                                                            <%= data.events[i].date %></sub>
                                                    </div>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="<%= data.events[i].url %>" style="color: inherit">
                                                <%= data.events[i].description %>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }; %>
                                </tbody>
                            </table>
                        </div>
                        <div style="bottom: 0; margin: 2em;">
                            <% include templates/caseStudies.ejs %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 2em;">
                <div class="col-12">
                    <h2 class="text-center">info for school</h2>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary btn-block">Poster</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary btn-block">Info Kits</button>
                </div>
            </div>
            <div class="row" style="margin: 2em;">
                <div class="col-12">
                    <h2 class="text-center">merch</h2>
                </div>
                <div class="col-xl-12">
                    <iframe id="merch" src="https://www.redbubble.com/people/waterbydesign/external-portfolio?count=7" width="100%" height="329" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
                </div>
            </div>
        </div>
        <% include templates/footer-big.ejs %>
        <% include templates/footer.ejs %>

        <script>
            window.addEventListener("resize", executeResize);
            window.addEventListener('DOMContentLoaded', executeResize);

            function executeResize() {
                var width = $(document).width();
                var merch = document.getElementById("merch");
                if (width >= 1830) {
                    merch.height = "300";
                } else if (width >= 1110) {
                    merch.height = "500";
                } else if (width >= 870) {
                    merch.height = "715";
                } else if (width >= 630) {
                    merch.height = "950";
                } else {
                    merch.height = "1600";
                }
                console.log(width);
            }
        </script>
    </body>

</html>