<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <% var numberOfPollutants = 1; %>
            <% var currentFeature = day%numberOfPollutants; %>
                <section class="jumbHeader">
                    <div class="container text-center">
                        <h1>MEET THE POLLUTANTS</h1>
                    </div>
                </section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 text-center">
                            <h2>Featured Pollutant</h2>
                            <img src="/polluntant/card1.png" class="mx-auto d-block img-fluid"></img>
                        </div>

                        <div class="col-xl-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="text-center">Events/News</h2>
                                    <table class="table table-hover">
                                        <tbody>
                                            <% for(var i = 0; i < data.events.length; i++){ %>

                                                <tr>
                                                    <td class="align-middle">
                                                        <a href="<%= data.events[i].url %>" style="color: inherit">
                                                            <div class="row text-center">
                                                                <div class="col-md-12">
                                                                    <%= data.events[i].title %>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <%= data.events[i].date %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="<%= data.events[i].url %>" style="color: inherit">
                                                            <%= data.events[i].description %>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <% }; %>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12 jumbHeader">
                                    <h2 class="text-center">Case Studies</h2>
                                    <div class="row">
                                        <% for(var i = 0; i < data.caseStudies[currentFeature].length; i++){ %>
                                            <div class="col-sm-4 py-2">
                                                <a href="<%= data.caseStudies[currentFeature][i].fileName %>" style="color: inherit">
                                                    <div class="card h-100" style="width:100%; background-color: inherit;">
                                                        <img class="card-img-top" src="<%= data.caseStudies[currentFeature][i].fileImg %>" alt="Sample Page">
                                                        <div class="card-body">
                                                            <h4 class="card-title text-center"><%= data.caseStudies[currentFeature][i].name %></h4>
                                                            <p class="card-text">
                                                                <%= data.caseStudies[currentFeature][i].description %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <% }; %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-center">info for school</h2>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary btn-block">Poster</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary btn-block">Stickers</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary btn-block">Info Kits</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-center">merch</h2>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary btn-block">Mugs</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary btn-block">Shirts</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary btn-block">Posters</button>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary btn-block">Cards</button>
                        </div>
                    </div>
                </div>
                <section class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-4 footer-content">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="text-center">
                                                    Contact
                                                </h2>
                                        <br>
                                    </div>
                                    <address>
                                            <div class="col-12">
                                                Healthy Land and Water
                                            </div>
                                            <div class="col-12">
                                                Level 19, 160 Ann Street, Brisbane 4000
                                            </div>
                                            <div class="col-12">
                                                PO Box 13204, George Street, Brisbane Qld 4003
                                            </div>
                                            <div class="col-12">
                                                Ph:<a href="tel:+0731779100" style="color: inherit"> (07) 3177 9100</a>
                                            </div>
                                            <div class="col-12">
                                                Fax: (07) 3177 9190
                                            </div>
                                            <div class="col-12">
                                                Email: <a href="mailto:info@hlw.org.au" style="color: inherit">info@hlw.org.au</a>
                                            </div>
                                        </address>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-sm-3">
                                <div class="row">
                                    <div class="col-12 logo">
                                        <a href="https://waterbydesign.com.au/">
                                            <img src="/wbdLogo2.png" alt="Water By Design" />
                                        </a>
                                    </div>
                                    <div class="col-12 logo">
                                        <a href="https://hlw.org.au/">
                                            <img src="/hlwLogo2.png" alt="Healthy Land and Water" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="footer2">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-3">
                                © 2019 Healthy Land & Water
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-3">
                                <a href="#" style="color: inherit">Privacy Policy</a> | <a href="#" style="color: inherit">Terms and Conditions</a>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                    </footer>
    </body>

</html>